@media only screen and (max-width: 480px) {
  .mobile-bar {
    position: relative;
    top: 30%;
    display: block;
  }
  header nav ul {
    position: relative;
    width: 50%;
    height: fit-content;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #141414;
    /* top: 100%; */
    /* z-index: 999; */
    /* ... */
    left: 29%;
    top: -230%;
    /* top: 336%; */
    z-index: -9;
    transition: 1s ease-in-out;
  }
  header nav ul.active {
    top: 336%;
    z-index: 999;
  }
  header nav ul li {
    position: relative;
    width: 100%;
    height: 100%;
    /* .. */
    display: flex;
    flex-direction: column;
  }
  header nav #produk {
    cursor: pointer;
  }
  header nav ul li a {
    margin: auto;
    font-size: 1.5em;
  }
  header nav ul #produk::after {
    position: absolute;
    margin: auto 5px;
    right: 1.5em;
    top: 0.6em;
  }
  /* header nav ul #produk.active::before {
    content: '\f00d';
    position: absolute;
    margin: auto 5px;
    right: 1.5em;
    top: 0.6em;
  } */

  header nav ul ul {
    position: relative;
    display: flex;
    left: 0;
    width: 100%;
  }
  header nav ul ul li a {
    font-size: 1em;
  }
  header nav ul ul.active {
    display: none;
  }

  /* main */
  .top-box .top-box1 {
    width: 100%;
  }
  .top-box1 .text1,
  .top-box1 .text1 span {
    font-size: 10vw;
  }
  .top-box1 .text2 {
    font-size: 10vw;
    margin-bottom: 0.5rem;
  }
  .top-box1 .box-contact {
    margin: 2rem auto;
  }
  .top-box2 {
    position: absolute;
    padding: 2.5rem 0 0 0;
    opacity: 0.05;
  }
  .top-box2 .square-box1 {
    position: relative;
    left: -35px;
  }
  .top-box2 .square-box2 {
    position: relative;
    left: -20px;
    width: 390px;
    height: 390px;
  }
  .top-box2 .square-box3 {
    left: 0px;
    width: 385px;
    height: 390px;
  }

  /* middle box */
  .middle-box section {
    width: 100%;
    left: 0;
  }
  .middle-box section .middle-box-all {
    border-radius: 0;
    flex-direction: column;
    height: 100%;
    top: 0;
  }
  .middle-box-all .middle-box1,
  .middle-box2,
  .middle-box3,
  .middle-box4 {
    margin: 0;
    display: flex;
    width: 100%;
  }
  .middle-box-all .middle-box1 .middel-box-icon,
  .middle-box2 .middel-box-icon,
  .middle-box3 .middel-box-icon,
  .middle-box4 .middel-box-icon {
    /* width: 100%; */
    margin: auto;
    height: 100%;
    width: 20%;
  }
  .middle-box-all .middle-box1 .middel-box-text,
  .middle-box2 .middel-box-text,
  .middle-box3 .middel-box-text,
  .middle-box4 .middel-box-text {
    height: 100%;
    display: flex;
    align-items: center;
    width: 70%;
    margin: auto;
  }
  .middle-box-all .middel-box-text p {
    margin: auto;
  }
}
